" options and mappings that are supported by both Vim and IdeaVim
let mapleader = " "
set nu
set relativenumber
set clipboard+=unnamed
set ignorecase

if has('ide')
  " mappings and options that exist only in IdeaVim
  map <leader><leader> <Action>(GotoFile)
  map <leader>/ <Action>(FindInPath)
  map <leader>b <Action>(Switcher)

  vnoremap J :m '>+1<CR>gv=gv
  vnoremap K :m '<-2<CR>gv=gv

  " Harpoon Keymaps
  nmap <leader>1 :action GotoHarpoon1<cr>
  nmap <leader>2 :action GotoHarpoon2<cr>
  nmap <leader>3 :action GotoHarpoon3<cr>
  nmap <leader>4 :action GotoHarpoon4<cr>
  nmap <leader>5 :action GotoHarpoon5<cr>

  nmap <leader>hm :action ShowHarpoon<cr>
  nmap <leader>ha :action AddToHarpoon<cr>


  " Code Actions


  " if &ide =~? 'intellij idea'
  "   if &ide =~? 'community'
  "     " some mappings and options for IntelliJ IDEA Community Edition
  "   elseif &ide =~? 'ultimate'
  "     " some mappings and options for IntelliJ IDEA Ultimate Edition
  "   endif
  " elseif &ide =~? 'pycharm'
  "   " PyCharm specific mappings and options
  " endif
else
  " some mappings for Vim/Neovim
  nnoremap <leader>f <cmd>Telescope find_files<cr>
endif
